@import '../../../../styles/brand';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$footer: #1F1F1F !default;
$text-light: #FFFFFF !default;

#footer {
  background-color: $footer;
  color: $text-light;
  display: block;
  .footer-inner {
    padding: 6rem 4rem;
    .footer-content {
      font-size: 2rem;
      margin-top: 1.5em;
      text-align: center;
      h3 {
        font-size: 1.6rem;
        padding: 1rem;
      }
      .footer-spacer {
        padding-bottom: 1rem;
      }
      .footer-image {
        padding: 0 1.2rem;
        width: 6rem;
        &:hover {
          @include drop-shadow($accent);
        }
      }
    }
  }
}
