@import '../../../../styles/brand';
@import '../../../../styles/variables';

$footer: #464F5D !default;
$text-light: #FFFFFF !default;

#footer {
  background-color: $footer;
  bottom: 0;
  color: $text-light;
  position: absolute;
  width: 100%;
  .content {
    padding: 1rem 2rem;
  }
}
