<article *ngIf="(method$ | async) as method" [style.backgroundColor]="method.properties.backgroundColor">

  <header class="page-banner process-header">
    <div class="banner-overlay"></div>
    <figure class="banner-image-wrapper">
      <img alt="banner" [src]="method.banner">
    </figure>
    <div class="banner-text-wrapper">
      <h1>{{ method.name }}</h1>
    </div>
  </header>

  <div *ngFor="let detail of method.description">

    <section class="page-content" *ngIf="detail.type === 'text'">
      <div *ngFor="let item of detail.content">
        <header *ngIf="item.title">
          <h4>{{ item.title }}</h4>
        </header>

        <ul *ngIf="item.list">
          <li *ngFor="let text of item.list">{{ text }}</li>
        </ul>

        <ol *ngIf="item.ordered">
          <li *ngFor="let text of item.ordered">{{ text }}</li>
        </ol>

        <p *ngIf="item.text">{{ item.text }}</p>

      </div>
    </section>

    <section *ngIf="detail.type === 'image'"  class="page-content">
      <div class="gallery-container">
        <img class="gallery-image" *ngFor="let image of detail.content; let i=index" [src]="image.url" (click)="open(detail.content, i)" [alt]="image.title"/>
      </div>
    </section>

  </div>

</article>

