// Brand Colors
//
// Colors used for the core brand.
//
// $brand-light - #7986CB; lighter brand alternative
// $brand - #3F51B5; core brand color
// $$brand-dark - #303F9F; darker brand alternative
//
// Weight: -10
//
// Styleguide Colors.brand
$brand-light: #7986CB;
$brand: #3F51B5;
$brand-dark: #303F9F;

// Accent Colors
//
// Colors used for the accent to the brand.
//
// $accent-light - #FFCDD2; lighter accent alternative
// $accent - #EF9A9A; core accent color
// $accent-dark - #E57373; darker accent alternative
//
// Weight: -9
//
// Styleguide Colors.accent
$accent-light: #FFCDD2;
$accent: #EF9A9A;
$accent-dark: #E57373;

// Background Colors
//
// Colors used as the background color for different containers.
//
// $content - #F4F4F4; lighter text alternative
// $aside - #F7F3EA; core text color
// $footer - #464F5D; darker text alternative
//
// Weight: -8
//
// Styleguide Colors.background
$content: #F4F4F4;
$aside: #F7F3EA;
$footer: #1F1F1F;

// Text Colors
//
// Colors used for standard text.
//
// $text-light - #FFFFFF; lighter text alternative
// $text - #9F9F9F; core text color
// $text-dark - #222222; darker text alternative
//
// Weight: -7
//
// Styleguide Colors.text
$text-light: #FFFFFF;
$text-secondary: #9F9F9F;
$text: #222222;
