// Default Fonts
//
// The default fonts used throughout the application.
//
// Markup:
// <p>This is an example of the Quicksand font.</p>
// <p style="font-style: italic;">This is an example of the Quicksand Italic font.</p>
// <p style="font-weight: bold">This is an example of the Quicksand Bold font.</p>
// <p style="font-weight: bold; font-style: italic;">This is an example of the Quicksand Bold Italic font.</p>
// <p style="font-weight: 100">This is an example of the Quicksand Light font.</p>
// <p style="font-weight: 100; font-style: italic;">This is an example of the Quicksand Light Italic font.</p>
// <p class="font-dash">This is an example of the Quicksand Dash font.</p>
//
// Styleguide Text.fonts.quicksand
@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-Light.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-LightItalic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand-Dash';
  src: url('/assets/fonts/Quicksand-Dash.otf');
}

.font-dash {
  font-family: Quicksand-Dash, sans-serif;
}

// Windsong Font
//
// This font is used for the title in the navbar
//
// Markup:
// <h1 class="font-windsong">This is an example of the Windsong font.</h1>
//
// Styleguide Text.fonts.windsong
@font-face {
  font-family: 'Windsong';
  src: url('/assets/fonts/Windsong.ttf');
}
.font-windsong {
  font-family: Windsong, sans-serif;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('/assets/fonts/Proxima-Nova-Alt-Regular.eot');
  src: url('/assets/fonts/Proxima-Nova-Alt-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Proxima Nova Alt Regular.woff') format('woff'),
  url('/assets/fonts/Proxima Nova Alt Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
