// Default Fonts
//
// The default fonts used throughout the application.
//
// Markup:
// <p>This is an example of the Quicksand font.</p>
// <p class="font-bold">This is an example of the Quicksand Bold font.</p>
// <p class="font-bold-italic">This is an example of the Quicksand Bold Italic font.</p>
// <p class="font-dash">This is an example of the Quicksand Dash font.</p>
// <p class="font-italic">This is an example of the Quicksand Italic font.</p>
// <p class="font-light">This is an example of the Quicksand Light font.</p>
// <p class="font-light-italic">This is an example of the Quicksand Light Italic font.</p>
//
// Styleguide Text.fonts.quicksand
@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Regular.otf');
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('assets/fonts/Quicksand-Bold.otf');
}
.font-bold {
  font-family: Quicksand-Bold, sans-serif;
}
@font-face {
  font-family: 'Quicksand-BoldItalic';
  src: url('assets/fonts/Quicksand-BoldItalic.otf');
}
.font-bold-italic {
  font-family: Quicksand-BoldItalic, sans-serif;
}

@font-face {
  font-family: 'Quicksand-Dash';
  src: url('assets/fonts/Quicksand-Dash.otf');
}
.font-dash {
  font-family: Quicksand-Dash, sans-serif;
}

@font-face {
  font-family: 'Quicksand-Italic';
  src: url('assets/fonts/Quicksand-Italic.otf');
}
.font-italic {
  font-family: Quicksand-Italic, sans-serif;
}

@font-face {
  font-family: 'Quicksand-Light';
  src: url('assets/fonts/Quicksand-Light.otf');
}
.font-light {
  font-family: Quicksand-Light, sans-serif;
}

@font-face {
  font-family: 'Quicksand-LightItalic';
  src: url('assets/fonts/Quicksand-LightItalic.otf');
}
.font-light-italic {
  font-family: Quicksand-LightItalic, sans-serif;
}

// Windsong Font
//
// This font is used for the title in the navbar
//
// Markup:
// <h1 class="font-windsong">This is an example of the Windsong font.</h1>
//
// Styleguide Text.fonts.windsong
@font-face {
  font-family: 'Windsong';
  src: url('assets/fonts/Windsong.ttf');
}
.font-windsong {
  font-family: Windsong, sans-serif;
}
