@import 'variables';
@import 'brand';
@import 'fonts';
@import 'mixins';

html {
  font-size: 10px;
}

body {
  font-family: Quicksand, sans-serif;
  font-size: 10px;
}

// Header 1
//
// The default style for H1 headings.
//
// Markup:
// <h1>An Example H1 Title</h1>
//
// Styleguide Text.headings.h1
h1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: Proxima-Nova, Corbel, sans-serif;
  letter-spacing: 0.5rem;
  line-height: 1.2;
  margin: 3rem 0;
  @include link-colors($brand, $brand-dark, $brand-light);
  @media screen and (min-width: $md) {
    font-size: 4.00rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 4.80rem;
  }
}

// Header 2
//
// The default style for H2 headings.
//
// Markup:
// <h2>An Example H2 Title</h2>
//
// Styleguide Text.headings.h2
h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.5rem 0;
  padding: 1rem;
  @include link-colors($brand, $brand-dark, $brand-light);
  @media screen and (min-width: $md) {
    font-size: 3.20rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 3.84rem;
  }
}

// Header 3
//
// The default style for H3 headings.
//
// Markup:
// <h3>An Example H3 Title</h3>
//
// Styleguide Text.headings.h3
h3 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1rem 0;
  padding-bottom: 0.2rem;
  @include link-colors($brand, $brand-dark, $brand-light);
  @media screen and (min-width: $md) {
    font-size: 2.93rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 3.52rem;
  }
}

// Header 4
//
// The default style for H4 headings.
//
// Markup:
// <h4>An Example H4 Title</h4>
//
// Styleguide Text.headings.h4
h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.67rem 0;
  @include link-colors($brand, $brand-dark, $brand-light);
  @media screen and (min-width: $md) {
    font-size: 2.67rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 3.2rem;
  }
}

// Header 5
//
// The default style for H5 headings.
//
// Markup:
// <h5>An Example H5 Title</h5>
//
// Styleguide Text.headings.h5
h5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0.94rem 0;
  @include link-colors($brand, $brand-dark, $brand-light);
  @media screen and (min-width: $md) {
    font-size: 2.4rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 2.88rem;
  }
}

// Header 6
//
// The default style for H6 headings.
//
// Markup:
// <h6>An Example H6 Title</h6>
//
// Styleguide Text.headings.h6
h6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 1rem 0;
  @include link-colors($brand, $brand-dark, $brand-light);
  @media screen and (min-width: $md) {
    font-size: 2.13rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 2.56rem;
  }
}

// Section Title
//
// The title at the top of a section.
//
// Markup:
// <section>
//   <header>
//     <h2 class="section-title">Section Title</h2>
//   </header>
//   <p>Some example text.</p>
// </section>
//
// Styleguide Text.headings.section
.section-title {
  padding: 4rem;
  @media screen and (min-width: $sm) {
    padding: 8rem;
  }
  text-align: center;
  text-transform: uppercase;
}

// Standard Paragraph
//
// The default style for paragraphs.
//
// Markup:
// <p>This is an example paragraph.</p>
//
// Styleguide Text.paragraph.standard
p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  @include link-colors($brand, $brand-dark, $brand-light);
}

// Standard Hyperlinks
//
// Global styling for hyperlinks.
//
// Markup:
// <a href="#"><p>This is an example hyperlink.</p></a>
//
// Styleguide Text.hyperlinks.standard
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
