$brand-light: #7986CB;
$brand: #3F51B5;
$brand-dark: #303F9F;
$accent-light: #FFCDD2;
$accent: #EF9A9A;
$accent-dark: #E57373;
$content: #F4F4F4;
$aside: #F7F3EA;
$footer: #464F5D;
$text-light: #FFFFFF;
$text-secondary: #9F9F9F;
$text: #222222;

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1800px;
