<header class="page-banner">
  <div class="banner-overlay"></div>
  <figure class="banner-image-wrapper">
    <img alt="banner" src="/assets/images/pages/process/banner.png">
  </figure>
  <div class="banner-text-wrapper">
    <p>&nbsp;</p>
    <h1>Process</h1>
    <p><em>&nbsp;</em></p>
  </div>
</header>

<div *ngIf="(uxMethods$ | async) as uxMethods">
  <header>
    <h2 class="section-title">Learn</h2>
  </header>

  <section id="method-logos" class="page-content">
    <div class="logos-content">
      <div *ngFor="let method of uxMethods" [class.active]="selectedProcess === method" class="method-button" (click)="selectMethod(method)" [style.backgroundColor]="method.properties.backgroundColor">
        <span class="method-button-text">{{ method.name }}</span>
      </div>
    </div>
  </section>

  <article *ngIf="selectedMethod" [style.backgroundColor]="selectedMethod.properties.backgroundColor">
    <header>
      <h3 class="section-title">{{ selectedMethod.name }}</h3>
    </header>

    <div *ngFor="let detail of selectedMethod.description">

      <section class="page-content" *ngIf="detail.type === 'text'">
        <p *ngFor="let para of detail.content">
          {{ para }}
        </p>
      </section>

      <section *ngIf="detail.type === 'image'"  class="page-content image-container">

        <img *ngIf="detail.content.length === 1" [src]="detail.content[0].url" alt="{{ detail.content[0].title }}">

        <slideshow *ngIf="detail.content.length > 1"
                   [backgroundSize]="'contain'"
                   [autoPlay]="false"
                   [showArrows]="true"
                   [imageUrls]="detail.content"
                   [showCaptions]="true"
                   [captionBackground]="'rgba(0, 0, 0, .8)'"
                   [lazyLoad]="detail.content?.length > 1">
        </slideshow>

      </section>

    </div>

    <!--
    <section class="page-content">

      <p>Links</p>
      <ul>
        <li *ngFor="let link of method.links">
          <a [href]="link">{{ link }}</a>
        </li>
      </ul>

    </section>
    -->

  </article>

</div>

<!--<h3>Learn</h3>-->
<!--<p>1-3 Learn about the brand, the product and the stakeholders....</p>-->
<!--<p>4-6 Identify users thoughts, feelings and actions...</p>-->
<!--<p>7-8 Model experiences, tasks and mindsets for goals, and define and frame the problem.</p>-->

<!--<h3>Design</h3>-->
<!--<p>1-3 Generate concepts</p>-->
<!--<p>4-6 Visualize the interaction</p>-->
<!--<p>7-8 Communicate the idea</p>-->
<!--<p>9-11 Branding</p>-->
