@import '../../../styles/variables';
@import '../../../styles/brand';
@import '../../../styles/mixins';

.logos-content {
  display: inline-block;
  text-align: center;
  width: 100%;
  .method-button {
    font-size: 1.8rem;
    align-items: center;
    border-radius: 10rem;
    display: inline-flex;
    height: 12rem;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    width: 12rem;
    &:hover {
      cursor: pointer;
      @include drop-shadow($accent);
    }
    &.active {
      font-weight: bold;
      border-radius: 10rem;
      @include drop-shadow($accent);
    }
    .method-button-text {
      height: 5rem;
    }
  }
}

.process-type-header {
  display: flex;
  justify-content: center;
}
.process-type {
  color: $text-secondary;
  padding: 2rem;
  @media screen and (min-width: $md) {
    display: inline-block;
    padding: 4rem;
  }
  &:hover {
    color: $brand-light;
    cursor: pointer;
  }
  &.active {
    color: $brand;
    font-weight: bold;
    text-decoration: underline;
  }
}

.method-image {
  cursor: pointer;
  padding: 4rem;
  height: 14rem;
  width: 14rem;
  object-fit: cover;
  transition: transform .6s;
  &:hover {
    transform: scale(1.5);
  }
}

.image-container {
  align-items: center;
  display: inline-block;
  justify-content: center;
}

.process-header {
  margin-bottom: 4rem;
}
