@import '../../../styles/variables';

.image-container {
  height: 600px;
  max-height: 600px;
  @media screen and (max-width: $md) {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
  img {
    display: block;
    height: 600px;
    margin: auto;
    max-width: 100%;
  }
}
