<header class="page-banner">
  <div class="banner-overlay"></div>
  <figure class="banner-image-wrapper">
    <img alt="banner" src="/assets/images/pages/process/banner.png">
  </figure>
  <div class="banner-text-wrapper">
    <p>&nbsp;</p>
    <h1>Process</h1>
    <p><em>&nbsp;</em></p>
  </div>
</header>

<section id="process">
  <header>
    <h1 class="page-title">Process</h1>
  </header>
  <article>
    <section class="subsection">
      <p>Content</p>
    </section>
  </article>

</section>
