<div class="project-container" *ngFor="let project of (projects$ | async) | reverse | paginate: { itemsPerPage: itemsPerPage, currentPage: (projectsPage$ | async) }">

  <div class="project" [routerLink]="['/projects', project.id]">
    <img [src]="project.img" alt="{{project.title}}">
    <div class="text-block">
      <h3 class="img-text-block">{{ project.title }}</h3>
    </div>
  </div>

</div>

<div class="pagination-container">
  <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
</div>
