<section id="projects" class="subsection" *ngIf="projects$ | async as projects">
  <article class="project-container" *ngFor="let project of projects.projectList | reverse |
  paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
    <div class="project">
      <a [routerLink]="['/projects', project.id]">
        <h3 class="header-styled">
          <a href="#">{{project.title}}</a>
        </h3>
        <img src="{{project.img}}" alt="">
      </a>
    </div>
  </article>
  <div class="pagination-container">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</section>
