@import '../../../styles/brand';
@import '../../../styles/variables';

$accent: #EF9A9A !default;
$md: 768px !default;
$xxl: 1800px !default;

.project-container {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  @media screen and (min-width: $sm) {
    width: 50%;
  }
  @media screen and (min-width: $md) {
    width: 33.33%;
    h3 {
      font-size: 2rem;
    }
  }
  @media screen and (min-width: $lg) {
    padding: 1rem;
  }
  .project {
    cursor: pointer;
    position: relative;
    img {
      width: 100%;
      filter: opacity(80%);
      transition: transform 0.6s;
    }
    .text-block {
      background-color: rgba(0,0,0,0.75);
      bottom: 0;
      position: absolute;
      text-align: center;
      transition: transform 0.6s;
      width: 100%;
    }
    &:hover {
      img {
        &:hover {
          filter: opacity(100%);
          transform: scale(1.1);
        }
      }
      .text-block {
        transform: scale(1.1);
      }
    }
  }
}
