@import 'colors';
@import 'variables';

$accent: #EF9A9A !default;
$md: 768px !default;
$xxl: 1800px !default;

#projects {
  clear: both;
  display: inline-block;
}

.project-container {
  display: inline-block;
  float: left;
  width: 50%;
  .project {
    padding: 1rem;
  }
  img {
    width: 100%;
    &:hover {
      filter: drop-shadow(2px 2px 12px $accent);
    }
  }
}

@media screen and (max-width: $md) {
  .project-container {
    width: 100%;
  }
}

@media screen and (min-width: $xl) {
  .project-container {
    width: 33.33%;
  }
}

