<div *ngIf="(projects$ | async).selectedProject as project">
  <h1>{{project.title}}</h1>

  <img class="project-headline" src="{{project.img}}" alt="" width="100%">

  <h2>Overview</h2>

  <p>
    {{project.overview}}
  </p>

  <h2>URL</h2>

  <p><a href="{{project.url}}">{{project.url}}</a></p>

  <h2>Technologies</h2>

  <article class="tech-container" *ngFor="let tech of project.technologies">
    <div class="technology">

      <img src="/assets/images/tech/{{ tech.img }}" alt="{{ tech.name }}">
      <div class="overlay">
        <a href="{{ tech.link }}">
        <div class="overlay-text">
          <h3>{{ tech.name }}</h3>
          <p>{{ tech.description }}</p>
        </div>
        </a>
      </div>

    </div>
  </article>

  <h2>Project Details</h2>
  <!--<ol>-->
    <!--<li *ngFor="let section of project.details">-->
      <!--{{ section.instruction }}-->
      <!--<pre *ngIf="step.code"><code>{{ step.code }}</code></pre>-->
    <!--</li>-->
  <!--</ol>-->
</div>
