@import '../../../../styles/brand';
@import '../../../../styles/variables';

$accent: #EF9A9A !default;
$md: 768px !default;
$xxl: 1800px !default;

.image-container {
  max-width: 100%;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.carousel-img {
  width: 100%;
}

.tech-container {
  display: inline-block;
  overflow: hidden;
  width: 33.33%;
  @media screen and (min-width: $sm) {
    width: 25%;
  }
  @media screen and (min-width: $lg) {
    width: 16.66%;
  }
  @media screen and (min-width: $lg) {
    width: 12.5%;
  }
  .technology {
    cursor: pointer;
    padding: 1rem;
    position: relative;
    img {
      display: block;
      height: auto;
      width: 100%;
    }
    .overlay {
      background-color: $brand;
      bottom: 0;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .5s ease;
      visibility: hidden;
      width: 100%;
      .overlay-text {
        color: white;
        height: 100%;
        padding: 1rem;
        position: absolute;
        text-align: center;
        width: 100%;
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1.4rem;
          line-height: 2rem;
        }
        @media screen and  (max-width: $xs) {
          h3 {
            font-size: 1.1rem;
          }
          p {
            font-size: 0.8rem;
            line-height: 1.1rem;
          }
        }
        @media screen and (min-width: $lg) and (max-width: $xl) {
          h3 {
            font-size: 1.2rem;
          }
          p {
            font-size: 1rem;
            line-height: 1.6rem;
          }
        }
        @media screen and (min-width: $xxl) {
          h3 {
            font-size: 3rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
    &:hover {
      img {
        &:hover {
          opacity: 0;
          transform: scale(1.1);
        }
      }
      .overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.project-headline {
  height: 50rem;
  object-fit: cover;
  object-position: 0 0;
}

.overview-title {
  padding: 8rem 0 4rem 0;
  text-align: center;
}

.divider {
  padding: 8rem 20rem 0 20rem;
}

.project-details {
  text-align: center;
}
