<header class="page-banner">
  <div class="banner-overlay"></div>
  <figure class="banner-image-wrapper">
    <img alt="banner" src="/assets/images/pages/portfolio/banner.jpg">
  </figure>
  <div class="banner-text-wrapper">

    <p>Hello there, I am</p>
    <h1>David Norton</h1>

    <p><em>a Senior Software Engineer specializing in UX and Web Development.</em></p>
  </div>
</header>


<section id="projects" class="page-container">
  <header class="section-title">
    <h2 class="top">Portfolio</h2>
  </header>
  <article>
    <router-outlet name='projects'></router-outlet>
  </article>
</section>
