<section id="portfolio" class="aside-container">

    <section class="subsection">
      <img src="/assets/images/me.jpg" alt="">
      <header class="title">
        <h1>Senior Software Engineer</h1>
        <h2>- Lead UX Designer & UI Developer</h2>
        <h2>- Scrum Master</h2>
      </header>



    </section>

    <aside class="subsection">
      <header>
        <h2>About Me</h2>
      </header>
      <p>
        An experienced UX & UI developer with an ever-growing knowledge of modern front-end technologies.
        Delivered multiple successful projects as lead front-end architect,
        designer & developer with CGI, IBM and independently, working in both agile and waterfall environments.
      </p>
      <p>
        A first-class degree in Forensic Computing and Security with a keen interest in web application security.
        Currently acting as a front-end technical interviewer and developing new client solutions.
      </p>
    </aside>

</section>

<section id="projects">
  <header>
    <h2 class="top">Portfolio</h2>
  </header>
  <article>
    <router-outlet name='projects'></router-outlet>

  </article>
</section>
