<header class="page-banner">
  <div class="banner-overlay"></div>
  <figure class="banner-image-wrapper">
    <img alt="banner" src="/assets/images/pages/resume/banner.jpg" style="bottom: 50%">
  </figure>
  <div class="banner-text-wrapper">
    <p>&nbsp;</p>
    <h1>Resume</h1>
    <p><em>&nbsp;</em></p>
  </div>
</header>

<article class="page-content">

  <div class="row-container">
    <div class="row">
      <div class="col col-img"><img src="/assets/images/me.png" alt=""></div>
      <div class="col col-text">
        <div class="title">
          <h2>Senior Software Engineer</h2>
          <h3>- Lead UX Designer & UI Developer</h3>
          <h3>- Scrum Master</h3>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button>View My Resume</button>
    </div>
    <hr class="resume-hr">
    <div class="row">
      <div class="para">
        <p>
          An experienced UX & UI developer with an ever-growing knowledge of modern front-end technologies.
          Delivered multiple successful projects as lead front-end architect, designer & developer with CGI,
          IBM and independently, working in both agile and waterfall environments.
        </p>
        <p>
          A first-class degree in Forensic Computing and Security with a keen interest in web
          application security. Currently acting as a front-end technical interviewer and developing
          new client solutions.
        </p>
      </div>
    </div>
  </div>

  <section id="job-logos" class="page-container" *ngIf="companies$ | async as companies">
    <article class="logos-content">

      <img *ngFor="let company of companies.companyList" src="{{company.img}}"
           [class.active]="clicked === company"
           alt="{{company.name}}" class="job-image" (click)="selectCompany(company); clicked = company">

    </article>
  </section>

  <section id="company-desc" class="page-container" *ngIf="selectedCompany">

    <div class="company">
      <h4>{{selectedCompany.name}}</h4>
      <h5>
        <span>{{selectedCompany.from | date}} - </span>
        <span *ngIf="selectedCompany.to !== 'present'">{{selectedCompany.to | date}}</span>
        <span *ngIf="selectedCompany.to === 'present'">Present</span>
      </h5>
      <hr>
      <div class="role-container" *ngFor="let role of selectedCompany.roles">
        <p><b>{{role.headline}}</b></p>
        <span>{{role.from | date}} - </span>
        <span *ngIf="role.to !== 'present'">{{role.to | date}}</span>
        <span *ngIf="role.to === 'present'">Present</span>
        <div>{{role.location}}</div>
        <p>{{role.description}}</p>
      </div>
    </div>

  </section>

</article>


<!--<section class="subsection">-->
<!--<header id="">-->
<!--<img src="/assets/images/me.jpg" alt="">-->
<!--<div class="title">-->
<!--<h1>Senior Software Engineer</h1>-->
<!--<h2>- Lead UX Designer & UI Developer</h2>-->
<!--<h2>- Scrum Master</h2>-->
<!--</div>-->
<!--</header>-->

<!--<section id="portfolio" class="aside-container">-->

<!--</section>-->

<!--<aside class="subsection">-->
<!--<header>-->
<!--<h2>About Me</h2>-->
<!--</header>-->
<!--<p>-->
<!--An experienced UX & UI developer with an ever-growing knowledge of modern front-end technologies.-->
<!--Delivered multiple successful projects as lead front-end architect,-->
<!--designer & developer with CGI, IBM and independently, working in both agile and waterfall environments.-->
<!--</p>-->
<!--<p>-->
<!--A first-class degree in Forensic Computing and Security with a keen interest in web application security.-->
<!--Currently acting as a front-end technical interviewer and developing new client solutions.-->
<!--</p>-->
<!--</aside>-->

<!--</section>-->
