@import '../../../styles/variables';
@import '../../../styles/brand';
@import '../../../styles/mixins';

.resume-section {
  display: block;
  margin: 1em auto 1rem auto;
  max-width: $lg;
  @media screen and (min-width: $lg)  {
    margin: 2rem auto 2rem auto;
  }
}

.resume-title {
  margin: auto;

  display: block;
  .custom-col {
    flex: 1;
    height: 200px;
    line-height: 200px;
    padding: 0;
    position: relative;
  }
  .col-img {
    flex: 1;
    img {
      @include positioning(absolute, 0, 0, 0 ,0);
      border-radius: 50%;
      margin: auto;
      width: 200px;
    }
  }
  .col-text {
    flex: 2;
    text-align: center;
    .title-text {
      display: inline-block;
      vertical-align: middle;
      h2 {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
      h3 {
        text-transform: uppercase;
        font-size: 1.8rem;
        margin: 0;
        padding: 0.5rem 3rem;
        text-align: center;
      }
    }
  }
  @media screen and (min-width: $lg)  {
    display: flex;
    flex-wrap: wrap;
    .col-text {
      text-align: left;
      .title-text {
        h2, h3 {
          text-align: left;
        }
      }
    }
  }
}

.resume-button {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  button {
    background-color: $brand-light;
    border: none;
    color: $text-light;
    cursor: pointer;
    padding: 2rem;
    text-transform: uppercase;
    &:hover {
      background-color: $brand;
    }
    &:active, &:focus {
      border: none;
      outline:none;
    }
  }
}

.resume-intro {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#company-logos {
  display: block;
  padding: 2rem;
  .logos-content {
    font-size: 2rem;
    text-align: center;
    .job-image {
      border-radius: 5rem;
      display: inline-block;
      margin: 2rem;
      width: 10rem;
      &:hover {
        cursor: pointer;
        @include filter-accent;
      }
      &.active {
        border-radius: 10rem;
        width: 12rem;
        @include filter-accent;
      }
    }
  }
}

.company {
  hr {
    padding: 1rem;
    width: 40%;
  }
  h3, h4 {
    text-align: center;

  }
  h5 {
    padding-bottom: 2rem;
  }
}

.role-description {
  //margin: auto;
  //width: 80%;
  //@media screen and (min-width: $lg)  {
  //  width: 60%;
  //}
  //p {
  //  //text-align-last: center;
  //}
}




