@import '../../../styles/variables';
@import '../../../styles/brand';
@import '../../../styles/mixins';

.resume-title {
  margin: 4rem auto 0 auto;
  display: block;
  .custom-col {
    height: 200px;
    line-height: 200px;
    padding: 0;
    position: relative;
  }
  .col-img {
    margin: auto;
    width: 200px;
    img {
      @include positioning(absolute, 0, 0, 0 ,0);
      border-radius: 50%;
      height: 200px;
    }
  }
  .col-text {
    text-align: center;
    .title-text {
      display: inline-block;
      vertical-align: middle;
      h2 {
        margin: 0;
        text-align: center;
      }
      h3 {
        text-transform: uppercase;
        font-size: 1.8rem;
        margin: 0;
        padding: 0.5rem 3rem;
        text-align: center;
      }
    }
  }
  @media screen and (min-width: $lg)  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .col-img {
      margin: 0;
      padding: 0 1.5rem;
    }
    .col-text {
      padding: 0 1.5rem;
      text-align: left;
      .title-text {
        h2, h3 {
          text-align: left;
        }
      }
    }
  }
}

.resume-button {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  button {
    background-color: $brand-light;
    border: none;
    color: $text-light;
    cursor: pointer;
    padding: 2rem;
    text-transform: uppercase;
    &:hover {
      background-color: $brand;
    }
    &:active, &:focus {
      border: none;
      outline:none;
    }
  }
}

#company-logos {
  display: block;
  padding: 2rem;
  .logos-content {
    font-size: 2rem;
    text-align: center;
    .job-image {
      border-radius: 5rem;
      display: inline-block;
      margin: 2rem;
      width: 10rem;
      &:hover {
        cursor: pointer;
        @include drop-shadow($accent);
      }
      &.active {
        border-radius: 10rem;
        width: 12rem;
        @include drop-shadow($accent);
      }
    }
  }
}

.company {
  h3 {
    text-align: center;
  }
  h4 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
  }
  h5 {
    padding-top: 2rem;
  }
  h6 {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 0;
  }
  .role-description {
    margin: 1rem;
    li {
      margin-bottom: 0.6rem;

    }
  }
}
