@import '../../../styles/variables';
@import '../../../styles/brand';
@import '../../../styles/mixins';

.role-container {
  line-height: 1.2;
}

.company-container {
  img {
    height: 72px;
    width: 72px;
  }
}

#title-container {
  display: inline-block;
  height: auto;
  width: 100%;
}

#title-header {

  margin: 0 auto;
  width: 70%;
  .title {
    float: left;
    h1 {
      margin: 0;
    }
    h2 {
      text-align: left;
      font-size: 1.8rem;
      margin: 0;
      padding: 0.5rem 3rem;
    }
  }
  img {
    border-radius: 50%;
    float: left;
    width: 200px;
    margin: 4rem;
  }
}

.resume-hr {
  margin: 4rem auto 2rem auto;
  width: 50%;
}


.profile-container {
  display: block;
  margin: 2em 5rem 2rem 5rem;
  @media screen and (min-width: $lg)  {
    margin: 4rem 10rem 4rem 10rem;
  }
  .title-container {
    margin: auto;
    max-width: 1200px;
    .para {
      padding: 1rem;
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}
//.row {
//  display: flex;
//  margin: auto;
//  max-width: 1200px;
//  .para {
//    padding: 1rem;
//    text-align: center;
//    max-width: 800px;
//    margin: 0 auto;
//  }
//}



.button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  button {
    background-color: $brand-light;
    border: none;
    color: $text-light;
    cursor: pointer;
    padding: 2rem;
    text-transform: uppercase;
    &:hover {
      background-color: $brand;
    }
    &:active, &:focus {
      border: none;
      outline:none;
    }
  }
}

.col {
  padding: 0;
  position: relative;
  height: 200px;
  line-height: 200px;
  flex: 1; /* additionally, equal width */
  .title-text {
    display: inline-block;
    vertical-align: middle;
    h2 {
      letter-spacing: normal;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
    h3 {
      text-transform: uppercase;
      text-align: left;
      font-size: 1.8rem;
      margin: 0;
      padding: 0.5rem 3rem;
    }
  }
  img {
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
  }
}

.col-text {
  flex: 2;
}

.col-img {
  flex: 1;
}

.role-description {
  margin: auto;
  width: 80%;
  @media screen and (min-width: $lg)  {
    width: 60%;
  }

  p {
    //text-align: justify;
    text-align-last: center;

  }

}

@media screen and (max-width: $lg)  {
  .row {
    display: block;
    .col-text {
      text-align: center;
      h2, h3 {
        text-align: center;
      }
    }
  }
}

.company {
  text-align: center;
  hr {
    padding: 1rem;
    width: 40%;
  }
  h5 {
    padding-bottom: 2rem;
  }
}

#job-logos {
  display: block;
  padding: 2rem;
  .logos-content {
    font-size: 2rem;
    text-align: center;
    .job-image {
      border-radius: 5rem;
      display: inline-block;
      margin: 2rem;
      width: 10rem;
      &:hover {
        cursor: pointer;
        @include filter-accent;
      }
      &.active {
        border-radius: 10rem;
        width: 12rem;
        @include filter-accent;
      }
    }
  }

}
