<header class="page-banner">
  <div class="banner-overlay"></div>
  <figure class="banner-image-wrapper">
    <img alt="banner" src="/assets/images/pages/resume/banner.jpg" style="bottom: 50%">
  </figure>
  <div class="banner-text-wrapper">
    <p>&nbsp;</p>
    <h1>Resume</h1>
    <p><em>&nbsp;</em></p>
  </div>
</header>

<article id="resume" class="page-content">

  <section  id="resume-title" class="resume-section">

    <div class="resume-title">
      <div class="col-img custom-col">
        <img src="/assets/images/me.png" alt="">
      </div>
      <div class="col-text custom-col">
        <div class="title-text">
          <h2>Senior Software Engineer</h2>
          <h3>- Lead UX Designer & UI Developer</h3>
          <h3>- Scrum Master</h3>
        </div>
      </div>
    </div>
    <div class="resume-button">
      <a href="/assets/resume.pdf" target="_blank">
        <button>View My Resume</button>
      </a>
    </div>

  </section>

  <hr width="50%">

  <section id="resume-description" class="resume-section">

      <div class="resume-intro">
        <p>
          A Senior Software Engineer with <b>5+ years experience</b> currently working across a number of
          agile teams to ensure successful delivery of multiple projects.
          I organise teams, manage user stories and design/develop solutions.
          I'm always trying to improve existing processes via <b>automating deployment and testing</b>,
          defining higher quality standards and introducing new technologies.
        </p>
        <p>
          I am an UX & UI enthusiast and love to learn new technologies including <b>Angular 7, PWAs and GraphQL</b>.
          I also have a first-class degree in <b>Forensic Computing and Security</b> and have a keen interest in web security.
        </p>
      </div>

  </section>

  <section id="company-logos" class="resume-section" *ngIf="companies$ | async as companies">

    <div class="logos-content">
      <img *ngFor="let company of companies" [src]="company.img" [alt]="company.name"
           [class.active]="selectedCompany === company" class="job-image" (click)="selectCompany(company)">
    </div>

  </section>

  <section id="company-details" class="resume-section" *ngIf="selectedCompany">

    <div class="company">

      <h3>{{ selectedCompany.name }}</h3>
      <h4>{{ selectedCompany.from }} - {{ selectedCompany.to }}</h4>

      <hr width="50%">

      <div class="role-container" *ngFor="let role of selectedCompany.roles">
        <h5>{{role.headline}}</h5>
        <h6>{{ role.from }} - {{ role.to }}</h6>
        <ul class="role-description">
          <li *ngFor="let desc of role.description">
            {{desc}}
          </li>
        </ul>
      </div>
    </div>

  </section>

</article>
