@import 'colors';
@import 'variables';

$accent: #EF9A9A !default;
$accent-light: #FFCDD2 !default;
$text: #222222 !default;
$md: 768px !default;

@mixin filter-accent {
  filter: drop-shadow(2px 2px 12px $accent);
}

#nav {
  height: 4em;
  margin-bottom: 1.5rem;
  h1 {
    float: left;
    margin: 0;
    padding: 0 1em;
    a {
      color: $text;
      outline: 0;
    }
  }
  nav {
    display: inline-block;
    font-size: 0.75em;
    float: right;
    height: 100%;
    ul {
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        float: left;
        height: 100%;
        text-align: center;
        a {
          color: $text;
          display: inline-block;
          height: 100%;
          letter-spacing: 3px;
          line-height: 5em;
          outline: 0;
          padding: 0 1em;
          text-transform: uppercase;
          width: auto;
          img {
            width: 16px;
          }
        }
      }
      .nav-link:hover {
        background-color: $accent;
      }
      .active {
        background-color: $accent-light;
      }
      .nav-image {
        a {
          padding-top: 2px;
          &:hover {
            @include filter-accent;
          }
        }

      }
    }
  }
}

@media screen and (max-width: $md) {
  #nav {
    height: auto;
    margin-top: 1em;
    text-align: center;
    h1 {
      font-size: 2.5em;
      float: none;
      text-align: center;
      line-height: 1em;
    }
    nav {
      font-size: 0.8rem;
      float: none;
      margin: 0 auto;
    }
  }
}
