<div id="nav">
  <h1><a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">David Norton</a></h1>
  <nav>
    <ul>
      <li>
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Portfolio</a>
      </li>
      <li>
        <a class="nav-link" routerLink="process" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Process</a>
      </li>
      <li>
        <a class="nav-link" routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Me</a>
      </li>
      <li class="nav-image">
        <a href="https://www.linkedin.com/in/davidnorton91/"><img src="assets/images/linkedin.png" alt="LinkedIn"></a>
      </li>
      <li class="nav-image">
        <a href="https://github.com/piemasters"><img src="assets/images/github.png" alt="Github"></a>
      </li>
    </ul>
  </nav>
</div>
