<div id="nav">
  <h1>David Norton</h1>
  <nav>
    <ul>
      <li class="nav-link active"><a href="#portfolio">Portfolio</a></li>
      <li class="nav-link"><a href="#process">Process</a></li>
      <li class="nav-link"><a href="#me">Me</a></li>
      <li class="nav-image">
        <a href="#"><img src="assets/images/linkedin.png" alt="LinkedIn"></a>
      </li>
      <li class="nav-image">
        <a href="#"><img src="assets/images/github.png" alt="Github"></a>
      </li>
    </ul>
  </nav>
</div>
