@import 'variables';
@import 'styles/colours';
@import 'fonts';
@import 'mixins';
@import 'text';

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.content {
  clear: both;
  font-size: 1.6rem;
  height: 100%;
  line-height: 2;
  padding: 2rem 2rem 8rem 2rem;
}

@media screen and (min-width: $md) {
  .content {
    font-size: 1.6rem;
    line-height: 2;
  }
}

@media screen and (min-width: $lg) {
  .content {
    font-size: 1.8rem;
    line-height: 2.25;
  }
}

// Sections
//
// The default style for sections.
//
// Markup:
// <section>
//   <header>
//     <h1>Page Header</h1>
//     <h2>Section Header</h2>
//   </header>
//   <article>
//     <section class="subsection">
//       <p>Content</p>
//     </section>
//   </article>
// </section>
//
// Styleguide Layout.components.section
section {
  background-color: $content;
  padding: 2rem;
  margin-bottom: 1rem;
  &.subsection {
    padding: 0;
  }
}

@media screen and (min-width: $md) {
  section {
    padding: 2rem;
    margin-bottom: 2rem;
    &.subsection {
      padding: 1rem 2rem;
    }
  }
}

@media screen and (min-width: $lg) {
  section {
    padding: 2rem 4rem;
    margin-bottom: 2rem;
    &.subsection {
      padding: 1rem 2rem;
    }
  }
}

// Asides
//
// The default style for asides.
//
// Markup:
// <aside>
//   <h2>Header</h2>
//   <p>Content</p>
// </aside>
//
// Styleguide Layout.components.aside
aside {
  background-color: $aside;
  padding: 2em;
}



