<div id="nav-container">
  <div id="nav">
    <h1>
      <a class="nav-link font-windsong" routerLink="" routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        David Norton
      </a>
    </h1>
    <nav>
      <ul>
        <li>
          <a id="nav-link-portfolio" class="nav-link" routerLink="" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            Portfolio
          </a>
        </li>
        <li>
          <a id="nav-link-process" class="nav-link" routerLink="process" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            Process
          </a>
        </li>
        <li>
          <a id="nav-link-me" class="nav-link" routerLink="resume" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            Resume
          </a>
        </li>
        <li>
          <a id="nav-link-styleguide" class="nav-link" href="https://styleguide.davidnorton.app/" target="_blank">
            Styleguide
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
