@import '../../../../styles/brand';
@import '../../../../styles/variables';

$accent: #EF9A9A !default;
$accent-light: #FFCDD2 !default;
$text: #222222 !default;
$md: 768px !default;

@mixin filter-accent {
  filter: drop-shadow(2px 2px 12px $accent);
}

#nav-container {
  padding: 0 3rem;
  position: absolute;
  max-width: 1800px;
  width: 100%;
  z-index: 99;
}


#nav {
  height: 4em;
  margin-bottom: 1.5rem;
  h1 {
    float: left;
    margin: 0;
    padding: 0 1rem;
    a {
      //color: $text;
      color: white;
      display: inline;
      outline: 0;
      padding: 0;
    }
  }
  nav {
    display: inline-block;
    font-size: 0.75em;
    float: right;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          //color: $text;
          color: white;
          display: inline-block;
          letter-spacing: 3px;
          line-height: 5em;
          outline: 0;
          padding: 0 1em;
          text-transform: uppercase;
          img {
            width: 16px;
          }
        }
      }
      .nav-link:hover {
        //background-color: $accent;
        background-color: $brand;
      }
      .active {
        //background-color: $accent-light;
        background-color: $brand-light;
      }
      .nav-image {
        a {
          &:hover {
            @include filter-accent;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  #nav {
    height: auto;
    margin-top: 1rem;
    text-align: center;
    h1 {
      font-size: 5rem;
      float: none;
      line-height: 1em;
    }
    nav {
      font-size: 0.8rem;
      float: none;
    }
  }
}
